@charset "UTF-8";

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 106, 0);
}

.destaque {
    background-color: chartreuse;
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(51, 77, 49);
}
.basico {
      color: darkolivegreen;
}

.intermediario {
    color: orange;
}

.avançado {
    color: darkred;
}

.destaque {
    background-color: chartreuse;
}
